$headerColor: #0A1D2D;
$borderColor: #e0ebf6;

@import url(http://fonts.googleapis.com/css?family=Lato);


@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/icons/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(/icons/MaterialIcons-Regular.woff2) format('woff2'),
       url(/icons/MaterialIcons-Regular.woff) format('woff'),
       url(/icons/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #E5EAED;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  margin: 0;
  padding: 0;
}

/* Header */
header.main {
  background: $headerColor;
  // border-bottom: 1px dotted lighten($headerColor, 10);
  color: #fff;
  height: 50px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;

  .logo {
    float: left;
    font-size: 30px;
    line-height: 50px;
    padding: 0 10px;
  }

  h1 {
    float: left;
    font-size: 1.3em;
    font-weight: normal;
    line-height: 50px;
    margin: 0;
    padding-left: 5px;
    text-transform: uppercase;

    a {
      color: #fff;
      text-decoration: none;
    }
  }

  .account {
    float: right;    
    text-align: right;

    .material-icons {
      cursor: pointer;
      font-size: 30px;
      line-height: 50px;
      padding: 0 10px;
    }

    ul {
      display: none;
      margin: 0;
      padding: 0;
    }

    &:hover ul {
      display: block;
    }

    li {
      background-color: $headerColor;
      border-top: 1px dotted lighten($headerColor, 10);
      list-style: none;
    }

    a {
      color: #fff;
      display: block;
      line-height: 50px;
      padding-right: 20px;
      text-align: left;
      text-decoration: none;

      i {
        float: left;
      }
    }
  }


  .location {
    color: lighten($headerColor, 40);
    line-height: 50px;
    position: absolute;
    right: 0;
    top: 0;
  }
}

main {
  padding-top: 50px;
  padding-left: 175px;
}


.card {
  background-color: lighten($headerColor, 5);
  border-bottom: 1px dotted lighten($headerColor, 15);
}



/* Forms */
button[type="submit"] {
  border: none;
  border-radius: 4px;
  // background-color: #009FD6;
  background-color: #2a7bbf;
  color: #fff;
  padding: 5px 10px;
  transition: .3s;

  &:hover {
    background-color: #216095;
  }
}