<template name="menu">
  <nav class="main">
    <h4>Main</h4>
    <ul class="main">
      <li><a href="{{pathFor 'feed'}}" class="{{active '/'}}"><i class="material-icons">home</i> <span>Feed</span></a></li>
      <li><a href="#"><i class="material-icons">people</i> <span>Connections</span></a></li>
      <li><a href="#"><i class="material-icons">photo</i> <span>Photos</span></a></li>
    </ul>

    <h4>Groups</h4>
    <ul class="groups">
      <!-- <li><a href="#"><i class="material-icons">cake</i> Birthdays</a></li> -->
      <li><a href="#"><i class="purple"></i> <span>Family</span></a></li>
      <li><a href="#"><i class="green"></i> <span>Friends</span></a></li>
      <li><a href="#"><i class="yellow"></i> <span>Work</span></a></li>
      <li><a href="#"><i class="red"></i> <span>Sport</span></a></li>
      <li><a href="#"><i class="orange"></i> <span>Other</span></a></li>
    </ul>
  </nav>
</template>