<template name="feed">

<div id="feed">

  <form id="add-post" class="card">
    <textarea placeholder="What's going on?"></textarea>
    <footer>
      <i class="material-icons tooltip" title="Add a photo">photo</i>
      <i class="material-icons">attachment</i>
      <i class="material-icons">place</i>
      <i class="material-icons">mood</i>
      <i class="material-icons">&#xE7FE;</i>
      <button type="submit">Send</button>
    </footer>
  </form>
  
  <section class="card">
    <h3>Welcome to TeamFeed!</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore accusantium est, tempora sit molestiae culpa, consectetur sunt incidunt mollitia corrupti recusandae cum tempore suscipit placeat quasi quas nemo veritatis ipsam.</p>

    <footer>
      <i class="material-icons like">&#xE8DC;</i>
      <input type="text">
    </footer>
  </section>

  <section class="card">
    <h3>Some pictures</h3>
    <img src="http://lorempixel.com/g/220/150/" alt="">
    <img src="http://lorempixel.com/g/220/150/?1" alt="" style="float: right;">

    <footer>
      <i class="material-icons like">&#xE8DC;</i>
      <input type="text">
    </footer>
  </section>

</div>

</template>